/* Global Styles */
:root {
    --primary-color: #e6a120;
    --text-color: #ffffff;
    --background-color: #000000;
    --secondary-color: #1c1c1e;
    --light-background: rgba(52, 51, 51, 0.8);
    --border-color: #333333;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.checkout-container {
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
}

h1 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d18d1b;
}

.back-button {
    display: inline-block;
    margin-top: 1rem;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.9rem;
}

.back-button:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .checkout-container {
        padding: 1.5rem;
        width: 80%;
    }

    h1 {
        font-size: 1.5rem;
    }

    button {
        padding: 0.8rem;
        font-size: 0.9rem;
    }
}