/* user-profile.css */

:root {
    --primary-color: #e6a120;
    --text-color: #ffffff;
    --background-color: #000000;
    --secondary-color: #1c1c1e;
    --light-background: rgba(52, 51, 51, 0.8);
    --border-color: #333333;
}

body {
    padding: 20px;
}

.profile-container {

    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.profile-sidebar {
    width: 260px;
    flex-shrink: 0;
}

.profile-picture {
    margin-top: 40px;
    margin-right: 8px;
    margin-left: 16px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 16px;
    border: 3px solid var(--primary-color);
}

.profile-name {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    color: var(--text-color);
}

.profile-username {
    font-size: 20px;
    color: #8b949e;
    margin: 0 0 16px;
}

.profile-info {
    background-color: var(--secondary-color);
    border-radius: 6px;
    padding: 16px;
    margin-top: 16px;
}

.profile-info p {
    font-size: 14px;
    margin: 8px 0;
    display: flex;
    align-items: center;
}

.profile-info i {
    width: 20px;
    margin-right: 8px;
    color: var(--primary-color);
}

.profile-main {
    flex-grow: 1;
}

.events-list h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--primary-color);
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 10px;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.event-card {
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(230, 161, 32, 0.1);
}

.event-card h3 {
    font-size: 18px;
    margin: 0 0 12px;
    color: var(--primary-color);
}

.event-card p {
    font-size: 14px;
    color: var(--text-color);
    margin: 0;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media (max-width: 968px) {
    .profile-container {
        flex-direction: column;
        margin: 40px 15px;
        margin-bottom: 80px;
    }

    .profile-sidebar {
        width: 100%;
        text-align: center;
    }

    .profile-picture {
        width: 200px;
        height: 200px;
    }

    .profile-info {
        text-align: left;
    }

    .events-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .events-grid {
        grid-template-columns: 1fr;
    }

    .event-card {
        padding: 15px;
    }

    .event-card h3 {
        font-size: 16px;
    }

    .event-card p {
        font-size: 13px;
    }
}